<h1>Welcome <%=@current_user.first_name%> </h1>

<ul>
<% @events.each do |event| %>
   <li> <%= link_to event.user.first_name, event_path(event.user) %> </li>
   <%end%>
</ul>

<p> <%# render "form" %> </p>

